<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
  <center>
    <h1>{{ title }}</h1>
  </center>
  <center>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

       steps = 10
       max = {{max}}

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script>
  </center>

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Number 1</th>
        <th scope="col">Number 2</th>
        <th scope="col">Operation</th>
        <th scope="col">Result </th>

    </tr>
    </thead>
    <tbody>
    {% for num in num_result %}
    <tr>
        <td><a href="view/{{num.id}}">{{ num.id }}</a></td>
        <td> {{ num.num1 }}</td>
        <td> {{ num.num2 }}</td>
        <td> {{ num.operation }}</td>
        <td> {{ num.result}}</td>



    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

</body>
</html>