{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{person.person_num}}" method="post">
    <div class="row">
        <div class="col">
            <label for="person_num">Person #</label>
            <input id="person_num" type="text" class="form-control" placeholder="Person Number" name="person_num" value="{{person.person_num}}">
        </div>
        <div class="col">
            <label for="height">Height</label>
            <input id="height" type="text" class="form-control" placeholder="height" name="height" value="{{person.Height}}">
        </div>
        <div class="col">
            <label for="weight">Weight</label>
            <input id="weight" type="text" class="form-control" placeholder="weight" name="weight" value="{{person.Weight}}">
        </div>
    </div>


    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

