{% extends "layout.html" %}
{% block content %}


<style>
table, th, td {
  border: 1px solid black;
}

.left {
  position: absolute;
  left: 25px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.right {
  position: absolute;
  right: 300px;
  width: 600px;
  border: 3px solid #73AD21;
  padding: 10px;
}


.row2 {

        margin-left: 5%;
        margin-right: 50%;

    }
</style>



<div class="ct-chart"> </div>
<script>


var data = {
  // A labels array that can contain any sort of values
  labels: [{% for num in num_result %}
               "{{ num.id }}",
              {% endfor %}],
  // Our series array that contains series objects or in this case series data arrays
  series: [
    [{% for num in num_result %}
               "{{ num.result }}",
              {% endfor %}]
  ]
};

// As options we currently only set a static size of 300x200 px. We can also omit this and use aspect ratio containers
// as you saw in the previous example
var options = {
  width: 900,
  height: 700
};

// Create a new line chart object where as first parameter we pass in a selector
// that is resolving to our chart container element. The Second parameter
// is the actual data object. As a third parameter we pass in our custom options.
new Chartist.Bar('.ct-chart', data, options);


</script>


<table class="left" style="width:900px">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Number 1</th>
        <th scope="col">Number 2</th>
        <th scope="col">Operation</th>
        <th scope="col">Result </th>

    </tr>
    </thead>
    <tbody>
    {% for num in num_result %}
    <tr>
        <!--<a href="view/{{num.id}}">-->
        <td>{{ num.id }}</a></td>
        <td> {{ num.num1 }}</td>
        <td> {{ num.num2 }}</td>
        <td> {{ num.operation }}</td>
        <td> {{ num.result}}</td>



    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="right">
   <form action="/" method="POST">

        <div class="row2">
            <label for="num1">First Number</label>
            <input id="num1" type="text" class="form-control" placeholder="First Number" name="num1">
        </div>
        <div class="row2">
            <label for="num2">Second Number</label>
            <input id="num2" type="text" class="form-control" placeholder="Second Number"
                   name="num2">
        </div>
        <div class="row2">
            <label for="operation">Operation</label>
            <input id="operation" type="text" class="form-control" placeholder="Operation" name="operation">
        </div>
       <br>


    <button type="submit" class="btn btn-success">Calculate</button>

   </form>
</div>
{% endblock %}



