
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
   <!-- Required meta tags -->

    <!-- Bootstrap CSS -->


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    {% if user %}
    <title>Welcome to {{ user.username }}'s site</title>
    {% else %}
    <title>Welcome to My Site!</title>
    {% endif %}
<style>
table, th, td {
  border: 1px solid black;
}
table.center {
  margin-left: 5%;
  margin-right: auto;
}
</style>

</head>

<style>
    body {
        background-color: #f0e6fa;
    }
    .row2 {

        margin-left: 5%;
        margin-right: 50%;

    }
    </style>




<body>
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark mb-1">
  <a class="navbar-brand text-light" href="/">Final Project
    <title>Welcome to My Homepage</title></a>
  <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-light" href="api/numbers">Number API Endpoint <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>

<center>
<div class="ct-chart"> </div>
<script>


var data = {
  // A labels array that can contain any sort of values
  labels: [{% for num in num_result %}
               "{{ num.id }}",
              {% endfor %}],
  // Our series array that contains series objects or in this case series data arrays
  series: [
    [{% for num in num_result %}
               "{{ num.result }}",
              {% endfor %}]
  ]
};

// As options we currently only set a static size of 300x200 px. We can also omit this and use aspect ratio containers
// as you saw in the previous example
var options = {
  width: 900,
  height: 700
};

// Create a new line chart object where as first parameter we pass in a selector
// that is resolving to our chart container element. The Second parameter
// is the actual data object. As a third parameter we pass in our custom options.
new Chartist.Bar('.ct-chart', data, options);


</script>
</center>

<table class="center" style="width:900px">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Number 1</th>
        <th scope="col">Number 2</th>
        <th scope="col">Operation</th>
        <th scope="col">Result </th>

    </tr>
    </thead>
    <tbody>
    {% for num in num_result %}
    <tr>
        <!--<a href="view/{{num.id}}">-->
        <td>{{ num.id }}</a></td>
        <td> {{ num.num1 }}</td>
        <td> {{ num.num2 }}</td>
        <td> {{ num.operation }}</td>
        <td> {{ num.result}}</td>



    </tr>
    {% endfor %}
    </tbody>
</table>


<form action="/" method="POST">

        <div class="row2">
            <label for="num1">First Number</label>
            <input id="num1" type="text" class="form-control" placeholder="First Number" name="num1">
        </div>
        <div class="row2">
            <label for="num2">Second Number</label>
            <input id="num2" t ype="text" class="form-control" placeholder="Second Number"
                   name="num2">
        </div>
        <div class="row2">
            <label for="operation">Operation</label>
            <input id="operation" type="text" class="form-control" placeholder="Operation" name="operation">
        </div>



    <button type="submit" class="btn btn-success">Calculate</button>

</form>

{% endblock %}
<div id="footer">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</div>

</body>
</html>