{% extends "layout.html" %}
{% block content %}
<a href="person/new"><button type="submit" class="btn btn-danger">Create New Person</button>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Person ID</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>

    </tr>
    </thead>
    <tbody>
    {% for person in people %}
    <tr>
        <td><a href="view/{{person.person_num}}">{{ person.person_num }}</a></td>
        <td>{{ person.Height }}</td>
        <td>{{ person.Weight }}</td>


    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}