{% extends "layout.html" %}
{% block content %}


<style>
table, th, td {
  border: 1px solid black;
}

.left {
  top: 700px;
  position: absolute;
  left: 25px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.right {
    top: 700px;
  position: absolute;
  right: 300px;
  width: 600px;
  border: 3px solid #73AD21;
  padding: 10px;
}


.row2 {

        margin-left: 5%;
        margin-right: 50%;

    }
#chart1 {
    top: 100px;
    width: 800px;
    height: 600px;
    position: absolute;
    left: 5px;
    right: 20%;
}

#chart2 {
    top: 100px;
    width: 800px;
    height: 600px;
    position: absolute;
    right: 10px;
    left: 62%;

}
</style>


<div class="ct-chart ct-golden-section" id="chart1"></div>
<div class="ct-chart ct-golden-section" id="chart2"></div>

<script>
  // Initialize a Line chart in the container with the ID chart1
    var data = {
  // A labels array that can contain any sort of values
  labels: [{% for num in num_result %}
               "{{ num.id }}",
              {% endfor %}],
  // Our series array that contains series objects or in this case series data arrays
  series: [
    [{% for num in num_result %}
               "{{ num.result }}",
              {% endfor %}]
  ]
};



  new Chartist.Bar('#chart1', data);
  new Chartist.Line('#chart2', data);




</script>

<table class="left" style="width:900px">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Number 1</th>
        <th scope="col">Number 2</th>
        <th scope="col">Operation</th>
        <th scope="col">Result </th>

    </tr>
    </thead>
    <tbody>
    {% for num in num_result %}
    <tr>

        <td><a href="view/{{num.id}}">{{ num.id }}</a></td>
        <td> {{ num.num1 }}</td>
        <td> {{ num.num2 }}</td>
        <td> {{ num.operation }}</td>
        <td> {{ num.result}}</td>



    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="right">
   <form action="/" method="POST">

        <div class="row2">
            <label for="num1">First Number</label>
            <input id="num1" type="text" class="form-control" placeholder="First Number" name="num1">
        </div>
        <div class="row2">
            <label for="num2">Second Number</label>
            <input id="num2" type="text" class="form-control" placeholder="Second Number"
                   name="num2">
        </div>
        <div class="row2">
            <label for="operation">Operation</label>
            <input id="operation" type="text" class="form-control" placeholder="Operation" name="operation">
        </div>
       <br>


    <button type="submit" class="btn btn-success">Calculate</button>

   </form>
</div>
{% endblock %}



