{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">Person # {{ person.person_num }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Height: {{ person.Height }}</li>
        <li class="list-group-item">Weight: {{ person.Weight }}</li>

    </ul>
    <div class="card-body">
        <a href="/edit/{{person.person_num}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{person.person_num}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}

